<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hakanbey.nothesaplama">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:name=".UygulamaDuzeyi">
        <activity android:name=".Hatirlatici.HatirlatmaOlusturActivity"
            android:parentActivityName=".Hatirlatici.HatirlaticilarActivity">
        </activity>
        <activity android:name=".Hatirlatici.HatirlaticilarActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".GecmisHesaplamalar.LiseGecmisHesaplamalar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".GecmisHesaplamalar.UniversiteGecmisHesaplamalar"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".Notlar.NotOlusturmaActivity"
            android:parentActivityName=".Notlar.NotlarActivity"/>
        <activity android:name=".Notlar.NotlarActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Auth.RegisterActivity" />
        <activity android:name=".Auth.LoginActivity" />
        <activity
            android:name=".Auth.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Universite.vizefinalhesaplama" />
        <activity
            android:name=".Lise.LiseHesaplamalariMain"
            android:label="@string/title_activity_lisehesaplamalariana"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Universite.ayarlar"
            android:label="@string/app_name_uniayar"
            android:parentActivityName=".Universite.vizefinalhesaplama" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>